<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box box box-solid">
            <span class="info-box-icon bg-green">
                <i class="fa fa-usd"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Cash Earned Today</span>
                <span class="info-box-number">$0.00</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box box box-solid">
            <span class="info-box-icon bg-yellow">
                <i class="fa fa-hourglass"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Hours Worked Today</span>
                <span class="info-box-number">0.00</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box box box-solid">
            <span class="info-box-icon bg-green">
                <i class="fa fa-usd"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Total Cash Earned</span>
                <span class="info-box-number">$0.00</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box box box-solid">
            <!--
                Pull data from OpenWeatherApp or something.
                Make the icon:
                    fa-tint, blue if rain
                    fa-sun-o, yellow if sunny
                    fa-snowflake-o, grey or something if snow
            -->
            <span class="info-box-icon bg-blue">
                <i class="fa fa-tint"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Weather</span>
                <span class="info-box-number">64F, Rain</span>
            </div>
        </div>
    </div>
</div>